/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
   * Remove default margin.
   */
body {
  margin: 0;
}

/* HTML5 display definitions
     ========================================================================== */
/**
   * Correct `block` display not defined for any HTML5 element in IE 8/9.
   * Correct `block` display not defined for `details` or `summary` in IE 10/11
   * and Firefox.
   * Correct `block` display not defined for `main` in IE 11.
   */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
   * 1. Correct `inline-block` display not defined in IE 8/9.
   * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
   */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
   * Address `[hidden]` styling not present in IE 8/9/10.
   * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
   */
[hidden],
template {
  display: none;
}

/* Links
     ========================================================================== */
/**
   * Remove the gray background color from active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * Improve readability when focused and also mouse hovered in all browsers.
   */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
     ========================================================================== */
/**
   * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
   */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
   * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
   */
b,
strong {
  font-weight: bold;
}

/**
   * Address styling not present in Safari and Chrome.
   */
dfn {
  font-style: italic;
}

/**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari, and Chrome.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
   * Address styling not present in IE 8/9.
   */
mark {
  background: #ff0;
  color: #000;
}

/**
   * Address inconsistent and variable font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` affecting `line-height` in all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove border when inside `a` element in IE 8/9/10.
   */
img {
  border: 0;
}

/**
   * Correct overflow not hidden in IE 9/10/11.
   */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
     ========================================================================== */
/**
   * Address margin not present in IE 8/9 and Safari.
   */
figure {
  margin: 1em 40px;
}

/**
   * Address differences between Firefox and other browsers.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
   * Contain overflow in all browsers.
   */
pre {
  overflow: auto;
}

/**
   * Address odd `em`-unit font size rendering in all browsers.
   */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
     ========================================================================== */
/**
   * Known limitation: by default, Chrome and Safari on OS X allow very limited
   * styling of `select`, unless a `border` property is set.
   */
/**
   * 1. Correct color not being inherited.
   *    Known issue: affects color of disabled elements.
   * 2. Correct font properties not being inherited.
   * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
   */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
   * Address `overflow` set to `hidden` in IE 8/9/10/11.
   */
button {
  overflow: visible;
}

/**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
   * Correct `select` style inheritance in Firefox.
   */
button,
select {
  text-transform: none;
}

/**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
   * Re-set default cursor for disabled elements.
   */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
   * Remove inner padding and border in Firefox 4+.
   */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
   * Address Firefox 4+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
input {
  line-height: normal;
}

/**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Fix the cursor style for Chrome's increment/decrement buttons. For certain
   * `font-size` values of the `input`, it causes the cursor style of the
   * decrement button to change from `default` to `text`.
   */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
   *    (include `-moz` to future-proof).
   */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * Define consistent border, margin, and padding.
   */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
   * 1. Correct `color` not being inherited in IE 8/9/10/11.
   * 2. Remove padding so people aren't caught out if they zero out fieldsets.
   */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Remove default vertical scrollbar in IE 8/9/10/11.
   */
textarea {
  overflow: auto;
}

/**
   * Don't inherit the `font-weight` (applied by a rule above).
   * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
   */
optgroup {
  font-weight: bold;
}

/* Tables
     ========================================================================== */
/**
   * Remove most spacing between table cells.
   */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  src: url(../font/NanumSquareR.eot);
  src: url(../font/NanumSquareR.eot?#iefix) format("embedded-opentype"), url(../font/NanumSquareR.woff) format("woff"), url(../font/NanumSquareR.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 700;
  src: url(../font/NanumSquareB.eot);
  src: url(../font/NanumSquareB.eot?#iefix) format("embedded-opentype"), url(../font/NanumSquareB.woff) format("woff"), url(../font/NanumSquareB.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 800;
  src: url(../font/NanumSquareEB.eot);
  src: url(../font/NanumSquareEB.eot?#iefix) format("embedded-opentype"), url(../font/NanumSquareEB.woff) format("woff"), url(../font/NanumSquareEB.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 300;
  src: url(../font/NanumSquareL.eot);
  src: url(../font/NanumSquareL.eot?#iefix) format("embedded-opentype"), url(../font/NanumSquareL.woff) format("woff"), url(../font/NanumSquareL.ttf) format("truetype");
}

/* basic */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
select,
textarea {
  border-radius: 0;
  background-clip: padding-box;
  /*
    @media all and (max-width: 1199px) {
        appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;

        &::-ms-expand {
            display: none;
        }
    }
*/
}

a {
  text-decoration: none;
  color: #333;
}

/*font*/
html {
  min-width: 320px;
  max-width: 100%;
  font-size: 14px;
  min-height: 100%;
}

body {
  font-family: "NanumSquare", "Malgun Gothic", "apple sd gothic neo", sans-serif;
  color: #333;
}

.sr-only {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/* style */
body .container {
  text-align: left;
  vertical-align: top;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  padding: 0;
}

body.main {
  background: url("../images/main-bg.jpg") no-repeat center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-flex;
  -webkit-align-item: center;
  -webkit-justify-content: center;
  height: 100vh;
}

body.main::after {
  content: "";
  display: block;
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.54);
}

body.main header {
  position: relative;
  background: rgba(41, 45, 71, 0.96);
  color: #fff;
  width: 590px;
  height: 294.5px;
  padding: 50px;
}

body.main header h1 {
  position: absolute;
  left: 0;
  top: -90px;
  margin: 0;
  padding: 0;
  font-size: 0;
  width: 390px;
  height: 47.35px;
  background: url("../images/jeju-logo.svg") no-repeat center/100% auto;
}

body.main header h2 {
  margin: 0;
  padding: 0;
  font-size: 56px;
}

body.main header h2 small {
  display: block;
  font-weight: 200;
  font-size: 32px;
  margin-bottom: 10px;
}

body.main header p.copyright {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50px;
  bottom: 50px;
  color: rgba(255, 255, 255, 0.5);
}

body.main div#content {
  position: relative;
  z-index: 10;
  width: 594.5px;
  height: 325px;
  background: url("../images/main-btn.svg") no-repeat center/100% auto;
  margin: -31px 0 0 -45px;
  font-size: 0;
}

body.main div#content a {
  display: inline-block;
  font-size: 20px;
  font-weight: 200;
  width: 275px;
  height: 296px;
  color: #fff;
  text-align: center;
}

body.main div#content a i {
  font-size: 130px;
  color: rgba(0, 0, 0, 0.28);
  margin: 40px 0 20px;
}

body.main div#content a strong {
  display: block;
  font-size: 26px;
  padding-bottom: 10px;
}

body.sub {
  /* header */
}

body.sub.sub01 {
  --color: #0075bc;
}

body.sub.sub02 {
  --color: #009F74;
}

body.sub.sub03 {
  --color: #3F4883;
}

body.sub header {
  text-align: center;
  background: #0075bc;
  background: var(--color);
  height: 368px;
  margin: 0 0 -256px;
}

body.sub header .container {
  height: 75px;
  line-height: 75px;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

body.sub header .container h1 {
  display: inline-block;
  margin: 0;
  font-size: 18px;
}

body.sub header .container h1 a {
  display: block;
  color: #fff;
}

body.sub header .container h1 a::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 6px;
  margin: 0 6px 0 0;
  width: 70.7px;
  height: 27.5px;
  background: url("../images/jeju-logo-s.svg") no-repeat center/100% auto;
}

body.sub header .container a.tool {
  display: block;
  float: right;
  font-size: 0;
  padding: 10px 0 0;
}

body.sub header .container a.tool i {
  font-size: 28px;
  color: #fff;
}

body.sub div#content section.sub-title {
  text-align: center;
}

body.sub div#content section.sub-title .container {
  background: url("../images/sub-bg.svg") no-repeat right center/auto;
}

body.sub div#content section.sub-title .container h2 {
  position: relative;
  color: #fff;
  font-size: 36px;
  font-weight: 800;
  padding: 0 0 0 110px;
}

body.sub div#content section.sub-title .container h2 small {
  display: block;
  font-weight: 200;
  font-size: 20px;
  margin: 0 0 6px;
}

body.sub div#content section.sub-title .container h2 i {
  position: absolute;
  left: 0;
  top: -20px;
  font-size: 112px;
  color: rgba(255, 255, 255, 0.35);
}

body.sub div#content section.sub-form {
  text-align: center;
}

body.sub div#content section.sub-form .container {
  background: #fff;
  padding: 40px;
}

body.sub div#content section.sub-form .container h3 {
  position: relative;
  font-size: 20px;
  margin: 0 0 10px;
}

body.sub div#content section.sub-form .container h3 a {
  font-size: 14px;
  font-weight: 400;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  background: #555;
  color: #fff;
  line-height: 32px;
  border-radius: 5px;
  padding: 0 10px;
}

body.sub div#content section.sub-form .container h3 a i {
  position: relative;
  top: 2px;
  margin-right: 4px;
}

body.sub div#content section.sub-form .container table {
  width: 100%;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin-bottom: 30px;
}

body.sub div#content section.sub-form .container table tbody tr th,
body.sub div#content section.sub-form .container table tbody tr td {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

body.sub div#content section.sub-form .container table tbody tr th {
  padding: 5px 10px;
  width: 136px;
  background: #f4f4f4;
}

body.sub div#content section.sub-form .container table tbody tr td {
  padding: 5px;
}

body.sub div#content section.sub-form .container table tbody tr td > i {
  font-style: normal;
  padding: 0 10px;
}

body.sub div#content section.sub-form .container table tbody tr td input[type="text"] {
  height: 38px;
  border: 1px solid #ccc;
  padding: 0 10px;
  border-radius: 5px;
  width: 412px;
}

body.sub div#content section.sub-form .container table tbody tr td input[type="text"].small {
  width: 148px;
}

body.sub div#content section.sub-form .container table tbody tr td input[type="text"].normal {
  width: 261px;
}

body.sub div#content section.sub-form .container table tbody tr td input[type="text"].big {
  width: 864px;
}

body.sub div#content section.sub-form .container table tbody tr td select {
  padding: 0 40px 0 10px;
  border: 1px solid #ccc;
  height: 38px;
  background: url("../images/down.svg") no-repeat 98% 50%;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body.sub div#content section.sub-form .container table tbody tr td select::-ms-expand {
  display: none;
}

body.sub div#content section.sub-form .container table tbody tr td input[type="radio"],
body.sub div#content section.sub-form .container table tbody tr td input[type="checkbox"] {
  display: none;
}

body.sub div#content section.sub-form .container table tbody tr td label {
  position: relative;
  line-height: 38px;
  padding: 0 30px 0 0;
  font-weight: 600;
}

body.sub div#content section.sub-form .container table tbody tr td label i {
  font-size: 26px;
  position: relative;
  top: 7px;
  margin: 0 4px 0 0;
  color: #ccc;
}

body.sub div#content section.sub-form .container table tbody tr td input[type="checkbox"] + label i {
  font-size: 20px;
  top: 5px;
}

body.sub div#content section.sub-form .container table tbody tr td input:checked + label {
  color: #0075bc;
  color: var(--color);
}

body.sub div#content section.sub-form .container table tbody tr td input:checked + label i {
  color: #0075bc;
  color: var(--color);
}

body.sub div#content section.sub-form .container table tbody tr td button.getfile {
  font-size: 14px;
  display: inline-block;
  background: #DEDEDF;
  line-height: 38px;
  border-radius: 5px;
  padding: 0 14px;
  border: none;
  font-weight: 600;
}

body.sub div#content section.sub-form .container table tbody tr td a {
  font-size: 14px;
  display: inline-block;
  background: #555;
  color: #fff;
  line-height: 38px;
  border-radius: 5px;
  padding: 0 20px;
}

body.sub div#content section.sub-form .container table tbody tr td a.right {
  float: right;
}

body.sub div#content section.sub-form .container div.btn-set {
  font-size: 0;
}

body.sub div#content section.sub-form .container div.btn-set > div {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

body.sub div#content section.sub-form .container div.btn-set > div.left {
  text-align: left;
}

body.sub div#content section.sub-form .container div.btn-set > div.right {
  text-align: right;
}

body.sub div#content section.sub-form .container div.btn-set > div a {
  display: inline-block;
  line-height: 44px;
  font-weight: 600;
  padding: 0 20px;
  font-size: 14px;
  margin: 0 2px;
  border-radius: 5px;
  background: #eee;
}

body.sub div#content section.sub-form .container div.btn-set > div a.main {
  background: #0075bc;
  background: var(--color);
  color: #fff;
  padding: 0 60px;
}

body.sub footer#footer {
  background: #555;
  text-align: center;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  padding: 30px;
}
/*# sourceMappingURL=style.css.map */